# ========================
# Java / Maven
# ========================
target/
.mvn/wrapper/maven-wrapper.jar
*.log
*.tmp
*.class

# ========================
# IDEs
# ========================
.idea
*.iml
*.iws
*.ipr
out/

# ========================
# OS / Misc
# ========================
.DS_Store
Thumbs.db
*.swp

# ========================
# Git
# ========================
.git
.gitignore

# ========================
# Other
# ========================
# Ignore local Docker artifacts
*.tar
*.img