# ========================
# Maven / Java
# ========================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
*.tmp
*.class

# ========================
# IDEs
# ========================
# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/

# ========================
# OS / Misc
# ========================
.DS_Store
Thumbs.db
*.swp

# ========================
# Docker (optional)
# ========================
# Ignore Docker build artifacts if you create any
*.tar
*.img